[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kdrsolutions
[access "refs/for/refs/*"]
	read = group user/kdrsolutions
	push = group user/kdrsolutions
	label-Code-Review = -2..+2 group user/kdrsolutions
	label-Verified = -1..+1 group user/kdrsolutions
	rebase = group user/kdrsolutions
	removeReviewer = group user/kdrsolutions
	submit = group user/kdrsolutions
[access "refs/heads/*"]
	read = group user/kdrsolutions
	create = group user/kdrsolutions
	push = +force group user/kdrsolutions
	pushMerge = group user/kdrsolutions
[access "refs/tags/*"]
	push = +force group user/kdrsolutions
	pushTag = group user/kdrsolutions
	pushSignedTag = group user/kdrsolutions
